.data-component {
    max-width: 320px;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #fff;
    flex: 1;
  }
  
  .data-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .data-text {
    margin-top: 16px;
  }
  
  .data-text h2 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 12px;
  }
  
  .data-text p {
    margin: 0;
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
    line-height: 1.5;
  }
  
  .data-button {
    padding: 10px 20px;
    font-size: 14px;
    color: black;
    background-color: #9E9795;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width:auto;
  }
  
  .data-button:hover {
    background-color: #483d8b;
  }

  .data-button:hover {
    background-color: black; /* Change background color on hover */
    color: white; /* Change text color on hover */
  }
  
  